.start {
  background: white;
  border: black 5px solid;
  border-radius: 10px;
  height: 50px;
  text-align: center;
  width: 150px;
  margin-top: 200px;
  margin-left: 550px;
  font-size: 40px;
  font-weight: 900;
}

.start:hover {
  border: gray 5px solid;
  transform: translate(0px, -8px);
  color: gray;
}
